<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <slot />
    </body>
</html>

<style lang="scss">
    @use 'webcoreui/styles' as *;
    @include setup((
        fontRegular: '/fonts/Inter-Regular.woff2',
        fontBold: '/fonts/Inter-Bold.woff2'
    ));
</style>